.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    background: url(../img/giphy.gif);
    background-size: cover;
}

nav > div {
    background-color: white;
    height: 39px;
}

nav > div:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: 2s all ease-in-out;
}

h1 {
    font-size: 1.7em;
    float: left;
    padding-left: 10px;
    font-weight: bold;
    -webkit-text-stroke: 1px #FFFFFF;
    -webkit-text-fill-color: #000000;
}

nav > div > div {
    float: right;
    padding: 10px 20px;
}

.links > a {
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

main {
    background:url(../img/simple-pikachu-wallpaper-4355-4586-hd-wallpapers.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    color: white;
    overflow: hidden;
}

h2 {
    font-size: 4em;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto Slab', serif;
}

h2:first-child {
    padding-top: 20vh;
    color: red;
    font-weight: 700
}

h2:nth-child(2) {
    color: black;
}

h2:nth-child(3) {
    font-weight: 300;
}

main > p {
    font-size: 1em;
    padding: 30px 50px;
    width: 40%;
    font-family: 'Roboto Condensed', sans-serif;
}

main > div {
    width: 100px;
    height: 50px;
    overflow: hidden;
    margin-left: 50px;
    border: 1px solid black;
}

a > img {
    width: 100%;
    margin-top: -50px;
}

.bestpoke {
    height: 50vh;
    background: #db4626;
    overflow: hidden;
}

section > img:first-child {
    height: 80%;
    float: left;
    padding: 5vh;
}

.best {
    height: 30%;
    float: right;
    margin-top: 33vh;
}

h3 {
    margin-top: 15vh;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    text-transform: capitalize;
    padding-bottom: 2vh;
    font-style: italic;
}

.bestpoke > p {
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.fourbox {
    background-color: #CECECE;
    height: 72vh;
    border: 10px black;
    border-style: solid none solid none;
}

.fourbox > div {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}

.fourbox > div > img {
    width: 100%;
}


.fourbox > div:first-child {
    background-color: #28392F;
    color: #72C599;
}

.fourbox > div:nth-child(2) {
    background-color: #F48921;
    color: #EE1C25;
}

.fourbox > div:nth-child(3) {
    background-color: #6DB5DD;
    color: #3179AB;
}

.fourbox > div:nth-child(4) {
    background-color: #F6E27E;
    color: #F2BB61;
}

h4 {
    padding-top: 10px;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
}

.firstbreak {
    height: 20vh;
    text-align: center;
    overflow: hidden;
    background-color: ;
}

#CYS {
    font-size: 5em;
    letter-spacing: 20px;
    padding: 1vh;
    font-family: 'Roboto Slab', serif;
    color: ;
    font-weight: 800;
}

li {
    list-style: none;
    font-family: "Roboto Condensed", sans-serif;
}

.fourbox > div > p {
    font-size: .5em;
    text-align: right;
    padding-right: 5px;
}

.twobox {
    height: 50vh;
    text-align: center;
}

.twobox > div {
    float: left;
    width: 50%;
    height: inherit;
}

.twobox > div > img {
    height: 60%;
    padding: 5vh 0vh 2vh 0vh;
}

.twobox > div > p:nth-child(2) {
    font-family: 'Roboto Slab', serif;
}

.twobox > div > p:nth-child(3) {
    font-size: .6em;
    text-align: right;
    padding-right: 30%;
    font-style: italic;
}

.bigfinish {
    height: 50vh;
    background-color: red;
    border: 10px black;
    border-style: solid none none none;
    color: white;
    text-align: center;
}

h6 {
    font-size: 5em;
    font-family: 'Roboto Slab', serif;
    padding-top: 5vh;
}

.bigfinish > p {
    text-align: right;
    font-style: italic;
    padding-right: 10%;
    padding-bottom: 10vh;
}

.bigfinish > a {
    padding: 5vh 10vh;
    margin: 10vh 5vh;
    background-color: white;
    border: 3px solid black;
}