* { 
    border: 1px solid red;}

h1, a, p, h3 {
    font-family: sans-serif;
    font-weight: lighter;
}

header {
    background-color: #046ABF;
    padding-top: 15px;
    padding-bottom: 10px;
}

h1 {
    font-size: 43px;
    color: #FFFFFF;
    padding-left: 10px;
}

.headerlinks {
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 10px;
}

p {
    font-size: 12px;
}

#ic {
    padding-left: 10px;
}

#ics {
    background-color: #F3F3F3;
    padding: 10px;
}

#firstimg {
    float: right;
}

#rwc {
    padding-left: 10px;
    height: 270px;
}

#bluhbluh {
    padding-top: 80px;
}

/*short screaming break*/

#imgtwo {
    float: left;
    padding-right: 10px;
}

#aotf {
    padding-top: 75px;
}

#aotfandimg {
    height: 270px;
}