@font-face {
    font-family: Graphique;
    src: url(../fonts/ZefaniStencilRegular.otf);
}

body {
    color: white;
    background-color: #222222
}

#my_nav {
    background: transparent;
    margin: 0px;
    border-radius: 0px;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #10D3DE;
}

.dropdown-menu {
    background-color: #111111;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    #my_nav.top-nav-collapse {
        padding: 0;
        background-color: #111111;
        border-bottom: 1px solid rgba(200, 200, 200, .3);
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: darkcyan;
}

#whitelinks {
    color: #10D3DE;
    transition: all 1s ease;
}

#whitelinks:hover {
    color: yellow;
    background: rgba(225, 225, 225, .3);
}

.highlight {
    color: #10D3DE;
    font-style: italic;
}

h1 {
    margin: 150px 0px 0px 20px;
    font-family: 'Graphique';
    font-size: 7em;
    color: #10D3DE;
}

.eyecatch {
    margin-left: 40px;
    font-family: Teko;
    font-size: 2em;
    text-transform: capitalize;
}

.corpratebabble {
    margin-left: 40px;
    margin-right: 500px;
    font-family: 'Slabo 27px';
}

.row1 {
    /*    margin-top: 50px;*/
    height: 700px;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url(../img/background.gif);
    background-size: cover;
}

.row2 {
    background-color: #222222;
}

.sixbubbles {
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0px;
    margin-top: 40px;
    transition: all 2s ease-in-out;
}

.imganimate {
    width: 300px;
    height: 300px;
}

.sixbubbles:hover {
    border-radius: 0%;
    transition: border-radius 2s ease-in-out;
}

a.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
}

a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: -90px;
    bottom: 100px;
    padding: 0.5em 20px;
    width: 460px;
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    font-size: 3em;
    font-family: 'Teko';
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

a.hovertext:hover:after,
a.hovertext:focus:after {
    opacity: 1.0;
}

.row3 {
    margin-top: 40px;
}

.row4 {
    min-height: 400px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    text-transform: capitalize;
    font-family: 'Teko';
    font-size: 4em;
}

.businessbabble p {
    font-family: 'Slabo 27px';
    padding-left: 20px;
    font-size: 1.3em;
}

.world_img {
    opacity: .7;
    border-radius: 50%;
}


/*Parallax stuff*/

.affix-top,
.affix-bottom {
    width: 100%;
    position: fixed;
    display: block;
}

.affix {
    display: none;
}

.bg-1 {
    background: url('../img/parallax.jpg') repeat fixed;
    background-size: contain;
    height: 200px;
    overflow: auto;
}

.bg-2 {
    background: url('../img/parallax2.jpg') repeat fixed;
    background-size: contain;
    height: 200px;
    overflow: auto;
}


/*parallax stuff end*/

.row6 {
    margin: 40px 0px;
}

h3 {
    font-family: 'Teko';
    font-size: 3em;
    text-transform: capitalize;
}

.morebusiness > p {
    margin-left: 20px;
    font-family: 'Slabo 27px';
    font-size: 1.3em;
}

#My_carousel {
    padding: 0px;
}

.carousel-caption {
    color: #111;
    font-size: 4.7em;
    font-family: 'Teko';
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}

.row7 {
    background: #111111;
}

.ContactUs {
    padding: 10px;
    margin: 0px;
    font-size: 4em;
    font-family: 'Teko';
    letter-spacing: 8px;
}

.row8 {
    margin: 40px;
}

.shinybutton {
    overflow: hidden;
    padding: 0px;
}

.ContactBttn {
    display: block;
    overflow: hidden;
    font-size: 2em;
    padding: 23px 0px 20px 0px;
    margin: 0;
    border: 4px solid rgba(255, 255, 255, .4);
    color: white;
    text-decoration: none;
}

.ContactBttn:hover {
    text-decoration: none;
    color: white;
    border: 4px solid rgba(255, 255, 255, 1);
}

.ContactBttn:visited {
    color: white;
}

.swipe1 {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 15px;
    height: 200%;
    background: white;
    transform: rotate(30deg);
    transition: all .4s ease-out;
}

.swipe2 {
    position: absolute;
    top: -90%;
    left: -150%;
    width: 50%;
    height: 250%;
    background: white;
    transform: rotate(30deg);
    transition: all .4s ease-out;
}

.shinybutton:hover .swipe1 {
    position: absolute;
    left: 150%;
    transition: all .5s ease-out;
}

.shinybutton:hover .swipe2 {
    position: absolute;
    left: 150%;
    transition: all .7s ease-out;
}

.footer {
    background: #111111;
}

.footer > p {
    padding: 10px;
    margin: 0px;
}

@media (min-width: 767px) and (max-width: 992px) {
    .corpratebabble {
        margin-right: 400px;
    }
    .sixbubbles {
        border-radius: 25%;
    }
    
    .morebusiness {
        margin-bottom: 40px;
    }
    
    .shinybutton {
        margin-top: 20px;
    }
    
    a.hovertext:after {
        content: attr(title) position: absolute;
        left: -90px;
        bottom: 100px;
        padding: 0.5em 20px;
        width: 460px;
        text-decoration: none !important;
        color: #fff;
        opacity: 1;
        font-size: 3em;
        font-family: 'Teko';
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 5em;
    }

    .corpratebabble {
        margin-right: 200px;
    }
    
    .sixbubbles {
        border-radius: 25%;
    }
    
    .imganimate {
        width: 100%;
    }
    
    a.hovertext:after {
        content: attr(title) position: absolute;
        left: -90px;
        bottom: 100px;
        padding: 0.5em 20px;
        width: 460px;
        text-decoration: none !important;
        color: #fff;
        opacity: 1;
        font-size: 3em;
        font-family: 'Teko';
    }
    
    .morebusiness {
        margin-bottom: 40px;
    }
    
    .shinybutton {
        margin-top: 20px;
    }
    
    .swipe2 {
    position: absolute;
    top: -75%;
    left: -150%;
    width: 50%;
    height: 250%;
    background: white;
    transform: rotate(30deg);
    transition: all .4s ease-out;
}
}