body {
    width: 75%;
    margin: 0 auto;
    background-color: azure;
}

header, nav, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

main {
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

nav {
    background-color: azure;
}

section, aside {
    float: left;
}

section {
    width: 70%
}
aside {
    width: 25%;
    float: right;
}

footer {
    clear: both;
}

.button {
    width: 15%;
    height: 30px;
    background-color: azure;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.alignstuff {
    margin: auto;
    text-align: center;
}