body {
    width: 75%;
    margin: 0 auto;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}

section, aside {
    float: left;
}

section {
    width: 70%
}
aside {
    width: 20%;
}

footer {
    clear: both;
}

.button {
    width: 15%;
    height: 30px;
    background-color: floralwhite;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    align-content: center;
}
.alignstuff {
    margin: auto;
    text-align: center;
}