::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #E2B02D;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #1482BF;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*scrollbar end*/

.headfoot {
    text-align: center;
    height: 15vh;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    margin: 20px 0px;
    font-family: "Covered By Your Grace";
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 0px #E2B02D,
                 4px 4px 0px #1482BF;
}

#mycarousel {
    height: 80vh;
    overflow: hidden;
    padding: 0px;
}

.secondrow {
    margin-bottom: 5vh;
}


/*this is really hacky and im not happy with that*/


img {
    height: 100%;
}

.inhiding {
    text-align: center;
    height: 80vh;
}

.pofthed {
    height: 45vh;
    overflow: hidden;
}

.princessc {
    height: 35vh;
    padding: 5%;
}

.princessc > img {
    border: 2px dashed hotpink;
    width: 100%;
    height: auto;
}

.PD {
    font-size: 2.5em;
    font-family: "Pacifico";
    margin-top: 10vh;
    font-weight: bold;
}

.princesscookie {
    display: block;
    font-size: 1em;
    font-family: "Courgette";
    font-weight: bold;
    text-decoration: underline;
    border: 1px dashed hotpink;
    margin: 0% 20%;
}


.row3 {
    height: 110vh;
    margin-bottom: 2vh;
}

.row3 > div:first-child {
    height: 100vh;
    padding: 0px;
    margin-bottom: 5vh;
}

.poster {
    height: 100%;
    width: auto;
    padding: 0px;
}

.quotebox {
    height: 80vh;
    padding: 0px;
    overflow: hidden;
}

.quotebox > img {
    height: 40vh;
    width: auto;
}

.quotebox > p:nth-child(2) {
    padding: 20px 20px 0px 20px;
    font-family: "Courgette";
    font-size: 1.4em;
}

.quote {
    text-align: right;
    padding: 0px 20px;
    font-family: "Pacifico";
}

.colide1 {
    padding-right: 0px;
}

.colide2 {
    padding-left: 0px;
}

.jakequote {
    border: 3px solid #E2B02D;
    padding: 15px;
}

.finnquote {
    border: 3px solid #1482BF;
    padding: 15px;
}

.broquotes {
    height: 20vh;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5vh;
}

.broquotes > p {
    font-size: 1.2em;
    font-family: "Courgette";
    font-weight: bold;
}


/*
#1482BF Finn
#E2B02D Jake
*/