main {
    margin: 1%;
}

section {
    float: left;
    height: 96vh;
    color: white;
    font-family: sans-serif;
}

section:first-child {
    margin-right: 1%;
    width: 39%;
}

section:nth-child(2) {
    width: 60%;
    background-image: url(../../img/featured-image-5.jpg);
    background-size: cover;
}

.side {
    height: 48.8%;
}

.side:first-child {
    background-image: url(../../img/featured-image-3.jpg);
    background-size: cover;
    margin-bottom: 3%;
}

.side:nth-child(2) {
    background-image: url(../../img/featured-image-4.jpg);
    background-size: cover;
}

.grey {
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    padding: 0% 7%;
    height: 100%;
}

p:first-child {
    padding-top: 25%;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
}

p:nth-child(2) {
    color: #8CA01F;
    text-transform: capitalize;
    padding: 30px 0px;
}

#longtext {
    font-size: .8em;
    line-height: 25px;
    font-family: serif;
}

form {
    display: inline-block;
}